# alias inkscape
alias inkscape="/home/marco/.local/bin/inkscape"

# alias YTmusic
alias music="/home/marco/music/YouTube*.AppImage"

# alias joplin
alias joplin="/home/marco/Downloads/joplin/Joplin-*.AppImage"

alias joplin-cli=/home/marco/.joplin-bin/bin/joplin

# alias visual studio
alias vscode=/usr/share/code/bin/code

# alias pycharm
alias pycharm="/home/marco/PyCharm/pycharm-community-2021.3.1/bin/pycharm.sh"

#alias myscript
alias clean_up="/bin/myscript/clean_up.sh"  #clean up current directory moving files with same extension in specific sub-directories
alias owner="/bin/myscript/owner.sh"  #computer owner
alias touchpad="/bin/myscript/touchpad.sh"  #restart touchpad

#quartus prime
alias quartus="intelFPGA_lite/22.1std/quartus/bin/quartus & disown"

#alias vim
alias vim="nvim"

#alias speechNote
alias speechnote="flatpak run net.mkiol.SpeechNote & disown"
